body{
  font-size: 56px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #353535
}

.css-rock-paper-scissor{
  font-size: 200px;
  padding: 20px;
  margin: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.css-reset{
  font-size: 125px;
  padding: 50px 75px;
  margin: 20px;
  border: none;
  border-radius: 3%;
  cursor: pointer;
  color: white;
  background-color: red;
}